@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hands On Secure Coding</h1>
    <p>Secure Coding with ASP.NET MVC</p>
    <p>Username : @ViewBag.Username</p>
</div>          
    <ul>
        Fruits:
        @foreach(var fr in ViewBag.fruits){
            <li>@fr</li>
        }
    </ul>
